body {
 background: #f3f2f3;
 color: #000000;
 font-family: Trebuchet MS, Arial, Times New Roman;
 font-size: 20px;
 background-image: url(Fon.png);
 width:auto;
 height:auto;
 position:static;
 background-size:100%;/* ������ �� ���� �����*/
 background-attachment: fixed;/*������������� ���*/
}

#container {
 background: #666667;
 width: 902px;
 min-height: 100px;
 margin-top:30px;
 text-indent:5px;/*����� �������������*/
 line-height:1.5;/*�������� ����� �����*/
 margin-left:auto;
 margin-right:auto;
 border-style:solid;
 border-width:1px;
 
}

#header {
 background: #838283;
 height: 150px;
 width: 900px;
 border-style:solid;
 border-width:1px;
}

#navigation {
 background: #a2a2a2;
 width: 900px;
 height: 80px;
 border-style:solid;
 border-collapse:1px;
 border-width:1px;

}

#menu {
 background: #666667;
 float: left;
 width: 200px;
 height:100%; 
 text-align:center;
}

#content {
 background: #d2d0d2;
 float: right;
 width: 700px;
}

#footer {
 background: #838283;
 height: 60px;
 width: 900px;
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 border-style:solid;
 border-collapse:1px;
 border-width:2px;
}
#form{
height: 150px;
width: 260px;
border-style:solid;
border-collapse:-1px;
border-width:2px;
margin-top:-2px;
margin-right:-2px;
}
#register
{
 background: #666667;
 width: 200px;
 height:270px;
 border-width: 2px; /*������ �������*/
 border-color:black;
 border-style:solid;	
}
#clear {
clear:both;
}
